header {
    display: flex;
    width: 100%;
    justify-content: space-between;
}
.nav-list{
    display: flex;
    gap: 20px;
}
a{
    text-decoration: none;
    color:black;
}
li{
    list-style: none;
}
.hero-img{
    width: 100%;
}

.hero-div{
    display: flex;
    width: 100%;
    justify-content: space-evenly;
    align-items: center;
}
.hero-div > img{
    width: 400px;
    border-radius: 100%;
    height: 400px;
    object-fit: cover;
}
.para-container{
    width: 25%;
    text-align: center;
}

.text-lg{
    font-size: 40px;
}
.text-md{
    font-size: 20px;
}
.text-darkred{
    color: rgb(5, 255, 188);
}
#hero{
    display: flex;
    flex-direction: column;
    gap: 20px;

}
#about{
    display: flex;
    justify-content: center;
}
#contact{
    display: flex;
    width: 100%;
    flex-direction: column;
    align-items: center;
}
.text-md > a{
    color: blue;
}
.victory-img{
    width: 300px;
    border-radius: 10px;
    transition: 0.6s ease-in-out;
    box-shadow: 0 5px 10px rgb(17, 255, 0);
}
.victory-img:hover{
    transform:translateY(10px)
}
#Victory{
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
}


footer{
    text-align: center;
    padding: 4px;
    width: 100%;
    margin-top: 60px;
}